<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload File Page</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/upload.js"></script>

</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <h2>Upload File</h2>

      <!-- Allow multiple file selection -->
      <input type="file" id="fileInput" multiple onchange="uploadFile()">

      <div id="fileDetails"></div>
      
      <!-- Always visible Download All button -->
      <button type="button" id="downloadBtn" onclick="downloadAll()">Download All</button>

      <button type="button" class="logout-btn" onclick="logout()">Logout</button>
    </div>
  </div>
</body>
</html>
 